
<h2>Output:</h2>
<hr />
<div class="row">
    <label style="font-style:italic"> Total is: @ViewBag.TotalValue  </label>
    <div>
        <span> Value 1 = @ViewBag.FirstValue ; Value 2 = @ViewBag.SecondValue ; Operation = @ViewBag.operation ;</span>
    </div>
</div>
<br />


